annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
attrs==26.1.0
autobahn==25.12.2
cbor2==6.1.2
certifi==2026.5.20
cffi==2.0.0
channels==4.3.2
channels-redis==4.0.0
charset-normalizer==3.4.7
constantly==23.10.4
cryptography==49.0.0
daphne==4.2.2
deprecation==2.1.0
Django==6.0.6
django-cors-headers==4.9.0
django-supabase-storage==1.0.1
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
google-auth==2.54.0
gunicorn==26.0.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
hyperlink==21.0.0
idna==3.18
Incremental==24.11.0
msgpack==1.2.0
multidict==6.7.1
paho-mqtt==2.1.0
pillow==12.2.0
propcache==0.5.2
py-ubjson==0.16.1
pyasn1==0.6.3
pyasn1-modules==0.4.2
pycparser==3.0
pydantic==2.13.4
pydantic-core==2.46.4
PyJWT==2.13.0
pyOpenSSL==26.3.0
python-dotenv==1.2.2
realtime==2.31.0
redis==4.5.5
requests==2.34.2
service-identity==26.1.0
sqlparse==0.5.5
storage3==2.31.0
StrEnum==0.4.15
supabase==2.31.0
supabase-auth==2.31.0
supabase-functions==2.31.0
Twisted==26.4.0
txaio==25.12.2
typing-inspection==0.4.2
typing-extensions==4.15.0
tzdata==2026.2
ujson==5.13.0
urllib3==2.7.0
websockets==15.0.1
whitenoise==6.12.0
yarl==1.24.2
zope.interface==8.5
dj-database-url==2.1.0
psycopg2-binary==2.9.9
uvicorn[standard]==0.35.0
