{% load static %}

<!doctype html>
<html>
     <head>
          <meta charset="UTF-8" />
          <title>Password Reset</title>
          <link rel="stylesheet" href="{% static 'css/emails.css' %}" />
     </head>
     <body>
          <div class="email-wrapper">
               <div class="email-card">

               <div class="email-header">
                    <img src="{% static 'images/Smarten.png' %}" alt="Smarten" class="logo"/>
               </div>

               <h1>Reset Your Password</h1>

               <p>Hello {{ first_name }} {{ last_name }},</p>

               <p>
                    We received a request to reset your password.
                    Click the button below to set a new password.
               </p>

               <div class="center">
                    <a href="{{ reset_link }}" class="btn btn-success">Reset Password</a>
               </div>

               <p class="small-text">This link will expire in 30 minutes.</p>

               <p class="small-text">
                    If you did not request this, please <a href="{{ recovery_link }}" target="_blank">Recover your account</a>.
               </p>

               </div>
          </div>
     </body>
</html>